/*
   My Grid layout
   ========================================================================== */
$grid-spacing: 24px;
$overlay-background-color: #FFF;
$overlay_opacity: 0.8;


$type-size-4-5: 1em !default;
$transition_style: top ease 0.2s;

/*
   Blog style
   ========================================================================== */
.post-type {
  color: #11A85A;
  font-size: 1rem !important;
}

/*
   Post item hover effect
   ========================================================================== */
.post-list-item{
  &:hover {
	 opacity: 0.6;
   transition: $transition_style;
 }
}

// Grid item
$color-white: #fff;
$color-black: #000;
$breakpoint-medium: 760px;
$breakpoint-small: 500px;
$breakpoint-xsmall: 380px;

//--카테고리 더보기 가져오기--
.more-posts {
  border: 1px solid #E5E5E5;
  padding: 10px 10px 5px;
  margin: 10px 0;
  clear: both;
  display: block;
}
.more-posts table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100% !important;
  margin-top: 10px !important;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}
.more-category {
  border-bottom: 1px solid #E5E5E5 !important;
}
.more-category > h4 {
  line-height: 170%;
  color: #737373 !important;
  font-size: 12px;
  margin: 0;
  padding: 2px 0 6px !important;
  display: inline-block;
}
.more-category .more-button {
  float: right;
  color: #909090;
  font-size: 12px !important;
  vertical-align: center;
  border-collapse: collapse;
  padding: 4px 4px 0 0;
}
.more-posts-title {
  text-align: left;
  font-size: 12px !important;
  font-weight: normal;
  word-break: break-all;
  overflow: hidden;
  line-height: 1.5;
  padding: 0 0 4px !important;
  display: table-cell;
  vertical-align: inherit;
  border-collapse: collapse;
}
.more-posts-title a {
  color: #909090;
}
.more-posts-title a:hover {
  color: #34373e;
}
.more-posts-date {
  text-align: right;
  width: 80px;
  font-size: 11px;
  padding: 0 0 4px !important;
  color: #909090 !important;
  display: table-cell;
  vertical-align: inherit;
  border-collapse: collapse;
}
