//--Hero Banner--//
.hero__background {
	display: block;
	//position: absolute;
	top: 0px;
	left: 50%;
	//transform: translateX(-50%);
	//z-index: -1;

	//display: none;
}

.intro_main {
		@include clearfix;
		margin-left: auto;
		margin-right: auto;
    padding: 3em 0;
		@include breakpoint($x-large) {
			max-width: $max-width;
		}
}

//--Grid Style--//
.content {
	@include clearfix;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	@include breakpoint($x-large) {
		max-width: $max-width;
	}
}

.img-gallery {
 width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(516px, 1fr));
 justify-content: center;
 padding: 4px;
}

.box {
	 flex-basis: 50%;
	 width: 100%;
	 padding: $grid-spacing;
	 margin: 2px;
}

.material-item__link {
	position: relative;
	display: block;
    transition: top ease 0.5s;

	&:hover {
		.material-item__content {
			opacity: 1;
			visibility: visible;
		}
	}

}

.material-item__content {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
background: rgba($overlay_background_color, $overlay_opacity);

opacity: 0;
visibility: hidden;
transition: (all 0.2s ease-in-out);

	&:hover {
	 opacity: 1;
	 visibility: visible;
	 transition: (all 0.2s ease-in-out);
	}
}
