// - - - - - - - - - - - - - - - - - -

// material

// - - - - - - - - - - - - - - - - - -

.material {
	padding: 0 $grid-spacing;
}

.material-wrap {

}

.material-item {
	position: relative;
	padding: $grid-spacing;
	float: left;
	width: 50%;

    @media all and (max-width: 767px) {
        width: 100%;
        padding: 8px;
    }
}

.material-item__link {
	position: relative;
	display: block;
  transition: top ease 0.5s;

	@include mq(tabletl) {

		&:hover {
			.material-item__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


.material-item__image {
	width: 100%;

}

.material-item__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($overlay_background_color, $overlay_opacity);

//	opacity: 0.3;
//	visibility: visible;
	//transition(all 0.2s ease-in-out);
	a {
		display: block;

		&:hover {
			.img-wrapper {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: .45;
				}
			}
		}
	}
}

.material-item__image.hover {
  visibility: visible 0.2s ease-in-out;
}

.material-item__info {
    margin-top: 8px;
    text-align: center;

}

.material-item__title {
    color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight:  $grid-item-title-weight;
    margin-bottom: 0px;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-medium;
	}
}

.material-item__subtitle {
	margin-top: 2px;
	color: $overlay-text-color;
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}
