---
layout: default
---

<main class="content">
	<section class="projects">
		<div class="container">
			<ul class="projects-list">
				{% for material in site.tools reversed %}
					<ul>
						<a class="material-item__link" href="{{ material.url | prepend: site.baseurl }}">

							<div class="img-wrapper">
								<img src="{{ material.featured_image | prepend: site.baseurl }}" alt="{{ material.title }}" />
							</div>

							<div class="material-item__content">
								<div class="material-item__info">
									<h2 class="material-item__title">{{ material.title }}</h2>
									<p class="material-item__subtitle">{{ material.subtitle }}</p>
								</div>
							</div>

						</a>
					</ul>
				{% endfor %}
			</ul>
		</div>
	</section>
</main>
