---
layout: default
---

<section class="tools">

	<div class="content-wrap tools-wrap">

		{% for material in site.tools reversed %}

		<div class="tools-item">

			<a class="tools-item__link" href="{{ material.url }}">

				<div class="tools-item__image">
					<img src="{{ material.featured_image  }}" alt="{{ material.title }}">
				</div>

				<div class="tools-item__content">
					<div class="tools-item__info">
						<h2 class="tools-item__title">{{ material.title }}</h2>
						<p class="tools-item__subtitle">{{ material.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>
